<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612672135446-plkrvk7u6h1qb2k26cdagalvaas3t8vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612672135446-plkrvk7u6h1qb2k26cdagalvaas3t8vo</string>
	<key>API_KEY</key>
	<string>AIzaSyDVzfz2IoWaMdaCpFTRuBV_YJ-BYvteikE</string>
	<key>GCM_SENDER_ID</key>
	<string>612672135446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asteri.wer2</string>
	<key>PROJECT_ID</key>
	<string>schoolhelper-b0748</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolhelper-b0748.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612672135446:ios:f91062be42fec166367037</string>
	<key>DATABASE_URL</key>
	<string>https://schoolhelper-b0748.firebaseio.com</string>
</dict>
</plist>