<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206067724385-55440hfrq49uoi3gr1egvh27sq4dp9d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206067724385-55440hfrq49uoi3gr1egvh27sq4dp9d1</string>
	<key>API_KEY</key>
	<string>AIzaSyDqtuExhEDrLnr83nl8YG41emm58Fl2rCg</string>
	<key>GCM_SENDER_ID</key>
	<string>206067724385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asteri.wer2</string>
	<key>PROJECT_ID</key>
	<string>schoolhelper-bb396</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolhelper-bb396.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206067724385:ios:8e77a8c38feffc4dd4fa20</string>
	<key>DATABASE_URL</key>
	<string>https://schoolhelper-bb396.firebaseio.com</string>
</dict>
</plist>